<div class='jumbotron head text-center'>
  <h1 id="one">BlogHub</h1>
  <p id="one">Pen down your thoughts to share with world</p>
  
</div>
<div class='container-fluid main'>
  <nav class="navbar navbar-expand-md navbar-dark bgnav">
    <a class="navbar-brand" href="#">BlogHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink='/create' class="white nav-link">Create Blog</a></li>
      <li class="nav-item">
        <a routerLink='/list' class="white nav-link">Blogs</a></li>
    </ul>
  </div>
  </nav>
  </div>
  <router-outlet></router-outlet>
